body {
    background-color: #000;
    color: #fff;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: 'Pizza', sans-serif;
}

h1 {
    font-size: 2.4rem;
    line-height: 10rem;
    letter-spacing: 0.2rem;
}

h1 span {
    color: #73ddf8;
}

p {
    font-size: 1.60rem;
    margin-bottom: 4.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
}

a {
    color: #000;
    background-color: #73ddf8;

    padding: 1rem 2rem;

    font-size: 1.5rem;
    border-radius: .5rem;

    width: 20rem;

    letter-spacing: 0.1rem;
    transition: background-color 300ms;
}

a:hover {
    background-color: #34c5e9;
}