body {
    background-color: #000;
    color: #fff;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: 'Pizza', sans-serif;

}

h1 {
    font-size: 5rem;
    line-height: 10rem;
    letter-spacing: 0.2rem;
}

h1 span {
    color: #ffff00;
}

p {
    font-size: 2rem;
    margin-bottom: 4.5rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
}

a {
    color: #000;
    background-color: #ffff00;

    padding: 1rem 2rem;

    font-size: 2rem;
    border-radius: .5rem;

    width: 20rem;

    letter-spacing: 0.1rem;
    transition: background-color 300ms;
}

a:hover {
    background-color: #dada00;
}

.bg-img {
    background-image: url("../img/pexels-photo-3731423\ -\ pizza.jpeg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.6;

    position: absolute;
    inset: 0;
    z-index: -1;
}